<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.
min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Academia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle
navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/pessoas/">Pessoas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/cursos/">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/instituicoes/">Instituições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/areas/">Áreas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/disciplinas/">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/matriculas/">Matrículas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/frequencias/">Frequências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/ocorrencias/">Ocorrências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link Text-light" href="/admin/">Administração</a>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Olá, é bom te ver por aqui</h1>
            <p class="lead">Esta é a página inicial da Academia</p>
            <p class="lead">Seja Bem Vindo(A)</p>
        </div>
    </div>

    <div class="container mt-5">
        <table class="table bg-white">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Carga Horária Total</th>
                    <th scope="col">Duração em Meses</th>
                    <th scope="col">Área do Saber</th>
                    <th scope="col">Instituição</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for cursos in cursos %}
                <tr>
                    <td>{{ cursos.nome }}</td>
                    <td>{{ cursos.carga_horaria_total }}</td>
                    <td>{{ cursos.duracao_meses }}</td>
                    <td>{{ cursos.area_saber }}</td>
                    <td>{{ cursos.instituicao }}</td>
                    <td><a href="{% url 'delete' cursos.id %}" class="btn btn-danger">Excluir</a></td>
                    <td><a href="{% url 'editar' cursos.id %}" class="btn btn-warning">Editar</a></td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popp
er.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.mi
n.js"></script>
</body>

</html>